<div class="col-md-6 user-container">
    <h2 class="text-center">Editar Paciente</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" method="POST">
        <div class="invisible">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="username">Nombre:</label>
            <input type="text" formControlName="nombre" placeholder="nombre" name="nombre" class="form-control"
                id="nombre">
        </div>

        <div class="form-group">
            <label for="text">Direccion:</label>
            <input type="text" formControlName="direccion" placeholder="direccion" name="direccion" class="form-control"
                id="direccion">
        </div>


        <button class="btn btn-success">Editar</button>
    </form>
</div>